In [2]:
import random 

random.randint(1, 3)

3

In [5]:
from random import randint 
randint(1, 3)

1

In [13]:
a=123
b=16
quotient, remainder = divmod(a, b)

print('몫', quotient)
print('나머지', remainder)

몫 7
나머지 11

In [14]:
char_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
char_dict = {}
# 코드 작성
for idx, elem in enumerate(char_list):
    print(idx, elem)
    char_dict[idx + 1] = elem

print(char_dict)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g'}

In [17]:
def even(n):
 return n % 2 == 0
list( filter( even, (1, 2, 3, 4, 5, 6) ) ) 
list(filter (lambda n : n % 2 == 0,(1,2,3,4,5,6,7,8)))

[2, 4, 6, 8]

In [19]:
def even(n):
    return n > 0
list(filter(even,[1, -2, 3, -5, 8, -3]))

[1, 3, 8]

In [25]:
num_list = range(1, 21)
list(filter(lambda n : n % 3 != 0, num_list))

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20]

In [31]:
red = 190
green = 66
blue = 205
r = hex(red)
g = hex(green)
b = hex(blue)
print(r, g, b)

0xbe 0x42 0xcd

In [53]:
hexa_string1 = '48 45 4C 4C 4F'
hexa_string2 = '47 47 4F 52 45 42'
def show_hex_to_ch(hexa_string):
    hexa_list = hexa_string.split(' ')
    for hexa in hexa_list:
        print(chr(int(hexa, 16)), end = "")
    print()
 # 코드 작성
show_hex_to_ch(hexa_string1)
show_hex_to_ch(hexa_string2)

HELLO
GGOREB

In [54]:
num_list = [1, 2, 3, 4]
list( map(lambda n : n * 3, num_list))

[3, 6, 9, 12]

In [57]:
num_list =  [-8, 2, 7, 5, -3, 5, 0, 1]
print(max(num_list), min(num_list), sum(num_list))

7 -8 9

In [60]:
string1 = 'ASCII TABLE'
string2 = 'PYTHON'
def show_ch_to_ascii(string):
    for s in string:
        print(hex(ord(s)), end=' ')
    print()
show_ch_to_ascii(string1)
show_ch_to_ascii(string2)

0x41 0x53 0x43 0x49 0x49 0x20 0x54 0x41 0x42 0x4c 0x45
0x50 0x59 0x54 0x48 0x4f 0x4e

In [63]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
list3 = ['가', '나', '다', '라']

print(zip(list1, list2, list3))
print(list(zip(list1, list2, list3)))

<zip object at 0x000002096041F4C8>
[(1, 'a', '가'), (2, 'b', '나'), (3, 'c', '다'), (4, 'd', '라')]

In [65]:
import sys
print(sys.path)

['C:\\Users\\student', 'C:\\Users\\student\\Miniconda3\\python37.zip', 'C:\\Users\\student\\Miniconda3\\DLLs', 'C:\\Users\\student\\Miniconda3\\lib', 'C:\\Users\\student\\Miniconda3', '', 'C:\\Users\\student\\Miniconda3\\lib\\site-packages', 'C:\\Users\\student\\Miniconda3\\lib\\site-packages\\win32', 'C:\\Users\\student\\Miniconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\student\\Miniconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\student\\Miniconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\student\\.ipython']

In [69]:
import pickle
file = open('data.bin', 'rb')
data = pickle.load(file)
data.get_location()

(100, 200)

In [67]:
import pickle
class NowData:
    def __init__(self):
        self.x = 0
        self.y = 0
    def move(self, x, y):
        self.x = x
        self.y = y
    def get_location(self):
        
        return self.x, self.y
    
data = NowData()
data.move(100, 200)


file = open('data.bin', 'wb')
pickle.dump(data, file)
file.close()

In [70]:
import os
os.mkdir('python_dir')

In [ ]:
import shutil
sutil copy()

In [71]:
import time

In [72]:
time.time()

1579072188.2251716

In [73]:
time.time()

1579072201.3448925

In [75]:
import random
random.seed(1)

In [86]:
random.seed(1)
random.randint(1, 10)

3

In [94]:
t = time.localtime(time.time())

In [96]:
t = time.asctime(time.localtime(time.time()))
t

'Wed Jan 15 16:17:49 2020'

In [100]:
time.strftime('%Y %m %d %H:%M:%S ',time.localtime(time.time()))

'2020 01 15 16:24:02 '

In [ ]:
minute = 1.5
time.sleep(minute * 60 * 60 * 24)

In [105]:
t = time.time() + ( 100 * 24 * 60 * 60)
time.strftime('%Y %m %d %H:%M:%S', time.time())
t

TypeError: Tuple or struct_time argument required

In [109]:
calendar(2004, 8)

NameError: name 'calendar' is not defined

In [110]:
last_day = calender: monthrange(2004, 8)[1]
for day in range(last_day):
    if calender.weekdya(2004, 8, day+1) == 0:
    print(day+1,'일')

SyntaxError: invalid syntax (<ipython-input-110-a0316a730634>, line 1)

In [115]:
import calendar

In [123]:
calendar.calendar(2004, 8, 23)

'                                                                                                 2004\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n                           January                                                             February                                                             March\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n  Mon      Tue      Wed      Thu      Fri      Sat      Sun           Mon      Tue      Wed      Thu      Fri      Sat      Sun           Mon      Tue      Wed      Thu      Fri      Sat      Sun\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n                               1        2        3        4                                                                   1             1        2        3        4        5        6        7\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n    5        6        7        8        9       10       11             2        3        4        5        6        7        8             8        9       10       11       12       13       14\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n   12       13       14       15       16       17       18             9       10       11       12       13       14       15            15       16       17       18       19       20       21\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n   19       20       21       22       23       24       25            16       17       18       19       20       21       22            22       23       24       25       26       27       28\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n   26       27       28       29       30       31                     23       24       25       26       27       28       29            29       30       31\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n                            April                                                                May                                                                 June\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n  Mon      Tue      Wed      Thu      Fri      Sat      Sun           Mon      Tue      Wed      Thu      Fri      Sat      Sun           Mon      Tue      Wed      Thu      Fri      Sat      Sun\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n                               1        2        3        4                                                          1        2                      1        2        3        4        5        6\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n    5        6        7        8        9       10       11             3        4        5        6        7        8        9             7        8        9       10       11       12       13\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n   12       13       14       15       16       17       18            10       11       12       13       14       15       16            14       15       16       17       18       19       20\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n   19       20       21       22       23       24       25            17       18       19       20       21       22       23            21       22       23       24       25       26       27\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n   26       27       28       29       30                              24       25       26       27       28       29       30            28       29       30\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n                                                                       31\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n                             July                                                               August                                                            September\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n  Mon      Tue      Wed      Thu      Fri      Sat      Sun           Mon      Tue      Wed      Thu      Fri      Sat      Sun           Mon      Tue      Wed      Thu      Fri      Sat      Sun\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n                               1        2        3        4                                                                   1                               1        2        3        4        5\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n    5        6        7        8        9       10       11             2        3        4        5        6        7        8             6        7        8        9       10       11       12\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n   12       13       14       15       16       17       18             9       10       11       12       13       14       15            13       14       15       16       17       18       19\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n   19       20       21       22       23       24       25            16       17       18       19       20       21       22            20       21       22       23       24       25       26\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n   26       27       28       29       30       31                     23       24       25       26       27       28       29            27       28       29       30\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n                                                                       30       31\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n                           October                                                             November                                                            December\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n  Mon      Tue      Wed      Thu      Fri      Sat      Sun           Mon      Tue      Wed      Thu      Fri      Sat      Sun           Mon      Tue      Wed      Thu      Fri      Sat      Sun\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n                                        1        2        3             1        2        3        4        5        6        7                               1        2        3        4        5\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n    4        5        6        7        8        9       10             8        9       10       11       12       13       14             6        7        8        9       10       11       12\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n   11       12       13       14       15       16       17            15       16       17       18       19       20       21            13       14       15       16       17       18       19\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n   18       19       20       21       22       23       24            22       23       24       25       26       27       28            20       21       22       23       24       25       26\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n   25       26       27       28       29       30       31            29       30                                                         27       28       29       30       31\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n'

In [125]:
calendar.weekday(2004, 8, 2)

0